<!DOCTYPE html>
<html>
	<head>
		<title>Tomb Runner App </title>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>

	<body>
		<div >
			<iframe style="position: absolute; height: 100%; width: 60%" src="https://html5.gamedistribution.com/f2af2ecc05a445edb6862c589e996a7e/" scrolling="none" frameborder="0"></iframe>
			<div style="position: absolute; height: 100%; left: 60%; background-color: rgb(216, 216, 216)" class="center">
				<h3 style="font-family: 'Lobster', cursive;">Video </h3></style>
				<img src="{{ url_for('video_feed') }}" width="100%">
				<div class="left-align" style="background-color: white; padding-left: 0px;">
					<h5 class="center color = teal"><b>Instructions</b></h5>
					<p>a)Move your face up, down, left and right to guide the player.

						 b)The green dot represents the center of the face.

						 c)When the green moves to one of the four boxes, an appropriate action is triggered.</p>

				</div>
			</div>
		</div>
		<div>
	</body>
</html>